<div class="container py-3 h-100">
    <h1>{{page_title}}</h1>

    <!-- Formulario documentos vehiculo -->
    <form class="py-1 h-100 col-md-7" #docVehiculos="ngForm" (ngSubmit)="onSubmit(docVehiculos)">
        <div class="form-group">
            <label for="tittle"></label>
        </div>

        <table class="table">
            <thead>
              ...
            </thead>
            <tbody>
              <tr class="table-active">
                ...
              </tr>
              <tr>
                ...
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2" class="table-active">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>

    </form>
</div>    
