<div class="container py-3 h-100">
    <h1>{{page_title}}</h1>
    <p *ngIf="status != 'success'">
        ( Crea un nuevo tipo de vehiculo )
    </p>
    <hr />
    <!--LINEA DIVISORIA-->

    <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
        El vehiculo se ha creado correctamente !!
    </div>

    <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">
        El vehiculo no se ha guardado !!!
    </div>

    <!--FORMULARIO DE CREAR TIPO DE VEHICULOS-->
    <!--ngform es formulario de angular-->
    <!--ngIf sirve para hacer una condicion si es el nombre y si toca el nombre -->
    <!-- <br> -->
    
    <form class="py-1 h-100 col-md-7" #tipoVehiculo="ngForm" (ngSubmit)="onSubmit(tipoVehiculo)">

        <div class="form-group">
            <label for="id_vehiculos">seleccione una opcion</label>
            <select (change)="capturar()" name="id_vehiculos" #id_vehiculos="ngModel"
                [(ngModel)]="tipovehiculo.id_vehiculos" class="form-control">
                <option *ngFor="let v of vehiculos" value="{{v.id_vehiculos}}">
                    {{v.id_vehiculos}} - {{v.claseVehiculo}}
                </option>
            </select>
        </div>
        
        
        <!--A LA AVRIABLE tipovehiculo.nombre agregele el nombre-->
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="tipovehiculo.nombre" class="
            form-control" required />

            <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                este campo es erroneo"!
            </small>
        </div>

        <div class="form-group">
        <label for="numPlaca">Placa</label>
        <input type="text" name="Placa" #Placa="ngModel" [(ngModel)]="tipovehiculo.placa" class="
        form-control" required />

            <small *ngIf="!Placa.valid && Placa.touched" class="invalid-feedback d-block">
                La placa del vehiculo es erronea!
            </small>
        </div>

        <!--</div>-->

        <input type="submit" value="guardar" class="btn btn-info">        
        <input type="button" value="Regresar" class="btn btn-primary" (click)="regresar()">

    </form>
    

</div>
