<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="text"><h2>{{todayWithPipe}}</h2></div>
            
            <!--<p>{{ date | date }}</p>-->
            <div class="wrapper"><img src="/assets/images/user01.jpg" class="img-circle"/></div>   
            <h1>LOGIN</h1>
            
	    </div>
        
        
        <div class="col-md-12 col-xs-12 login_control">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">        
                <div class="control">                    
                    <input type="text" id="login" class="form-control" name="id" placeholder="Usuario" #id="ngModel"
                    [(ngModel)]="user.id" required pattern="[0-9]+">
                    
                </div>
                
                <div class="control">                     
                    <input type="password" id="contraseña" class="form-control" name="password" placeholder="Contraseña" #password="ngModel"
                    [(ngModel)]="user.password" required>
                </div>
                <div class="text-center">
                     <button class="btn btn-orange">Ingresar</button>
                     <br>
                     <button class="btn btn-primary" (click) = "goRegister()" >Crear usuario</button>
                </div>
                <div class="control">            
        
                </div> 
                
            </form>
            
            
        </div>
                   
    </div>
</div>
