
<br>
<div class="tablas">
  <p *ngIf="status != 'success'"></p>
<br>

<div class="card" *ngIf = "!bandera" >
  <div class="card-header">
    <h2>Busqueda de vehiculo</h2>
  </div>
  <div class="card-body">
    <div class="row mt-12">
      <div class="col-sm-10 pb-3"><input class="form-control" id="exampleAccount"
        placeholder="Nombre o placa del vehiculo" type="text"
        (input)="getGener02($event)" value={{nombre}} required>
    <div class="col-sm-12">
        <div class="card card-body mb-1" *ngFor="let result of data"
            (click)="getDatos(result)" style="cursor: pointer;">
            <h6> Nombre: {{result.nombre}} </h6>
            <small class="text-primary">
                placa: {{result.placa}}
            </small>            
     
  <!-- <a href="#" class="btn btn-primary">Go somewhere</a>--> 
     
  <!--  -->
 <input type="button" value="continuar" class="btn btn-primary" (click)= "next(result)">
</div>
</div>
</div>
</div>
</div>

</div>
</div>

 <div class="tablas" *ngIf = "bandera"> 
  <table class="table table-hover">
    <thead>
      <tr> 
        <!-- <td class="table">Vehiculos</td> --> 
        <!-- <td class="table">Nombre</td>
        <td class="table">Placa</td> -->
        <td class="table">Documento</td>
        <td class="table">Fecha inicio</td>
        <td class="table">Fecha fin</td>
        <td class="table">Url</td>
      </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let dt of tDocumentos"> <!--si-no {{v.nombre}} -->
        <!-- <th scope="row">1</th> no-->
        <!-- <td>{{nombre}}</td>
        <td>{{placa}}</td> -->
        <td>{{dt.tipoDocumento}}</td>
        <td><input type="date" (change)="SendDataonChange($event, dt.id_Documentos)" class="form-control" id="start"
           name="fechainicio" value="today" min="2018-01-01"
            max="2030-12-31" placeholder="Fecha de radicado"></td>
        <td><input type="date" (change)="SendDataonChanges($event, dt.id_Documentos)" class="form-control" id="start"
           name="fechafin" value="today" min="2018-01-01"
            max="2030-12-31" placeholder="Fecha de radicado"></td>
 
      <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        
                   
      <!-- inicio objeto subir doc -->      
      <angular-file-uploader 
      
        [config]="afuConfig"
        [resetUpload]="true"
        (ApiResponse)="listasUpload($event,dt.id_Documentos
        )">
      </angular-file-uploader>      
      <!-- fin objeto subir doc -->

        <!-- <angular-file-uploader #fileUpload1 
        [config]="afuConfig"                     
        [resetUpload]="true"                     
        (ApiResponse)="listasUpload($event)">    
        </angular-file-uploader> -->      

        </tr>      
    </tbody>
 
  </table>
  <div class="d-flex justify-content-end pt-3">    
    <!-- <button class="btn btn-info">Guardar</button> -->
    <input type="submit" value="guardar" class="btn btn-info" (click)= "guardar()">
    <input type="button" value="Regresar" class="btn btn-primary" (click)= "regresar()">                    
  </div>          


 </div>

