<br>
<br>
<div class="tablas">  

  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search"
    aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>

<br>
<br>
<!-- <div class="tablas"> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <td class="table">vehiculos</td>
        <td class="table">tipovehiculo</td>
        <td class="table">tipodocumento</td>
        <td class="table">fechainicio</td>
        <td class="table">fechafin</td>
        <td class="table">url</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>

  </table>

</div>